<!-- <p>productpage works!</p>
<div class="product-list">



@if (products.length==0) {
  <p>No products available.</p>
}@else{
<p>List of products:</p>
<ul>
  <input [(ngModel)]="searchText" placeholder="name"/>
  @for (product of filteredProducts; track product.id){
      <li [class.expensive]="product.price > 20">
      {{product.name}} - {{product.price}} 
      @if(product.price>20){
        <span>🔥 Hot Deal</span>
      }
      <img [src]="product.imageUrl" [alt]="product.name"></li>
    
}
</ul>
}
</div>




<div>
  @for (product of products; track product.id){
    <ul>
  <button (click)="selectProduct(product)">select product</button>
</ul>  
}
  @if (selectedProduct) {
  <h3>Selected: {{ selectedProduct.name }}</h3>
  <p>{{ selectedProduct.description }}</p>
  <p>Price: ${{ selectedProduct.price }}</p>
  <img [src]="selectedProduct.imageUrl" [alt]="selectedProduct.name">
  }
</div> -->
<div>
  @for(product of filteredProducts;track product.id){
    <app-product-card [product]="product"
    (selectProduct)="selectProduct($event)"></app-product-card>
  }
</div>